h1 {
  background-color: aqua;
  color: red;

  width: 100px;
  height: 100px;
}
span {
  color: red;
  background-color: black;

  height: 100px;
  width: 100px;
  margin: 10px;
}
div {
  background-color: cornflowerblue;
  color: darkorange;
  width: 200px;
  height: 250px;
  margin-top: 30px;
}
div h2 {
  background-color: gold;
  padding: 20px;
}
div p {
  background-color: rgb(20, 255, 165);
}
#top {
  border-right: 20px solid;
  border-image: linear-gradient(#ff006a, #00ff55, black);
  border-image-slice: 2;
  border-radius: 10px 20px 30px 40px;
}
p {
  color: rgb(247, 76, 105);
  background-color: lightblue;
  text-align: center;
  padding: 10px 0px;
  border: 10px solid beige;
  margin-top: 20px;
}
#we:focus {
  font-size: 30px;
  color: rgb(86, 252, 94);
  background: lightsalmon;
  margin-left: 55px;
  text-align: center;
}
#we:hover {
  width: 300px;
  height: 50px;
  border: 3px solid red;
  border-radius: 10px;
}
a:visited {
  color: lightsalmon;
}
a {
  display: block;
}
a.font:hover {
  font-size: 30px;
  text-decoration: none;
}
.nb {
  color: lime;
}
.nb:hover {
  color: red;
  background-color: plum;
  font-size: 40px;
}
.loo li:first-child {
  color: purple;
}
.loo li:nth-child(2n) {
  background-color: rgb(20, 255, 165);
}
.loo li:nth-child(2n + 1) {
  background-color: sienna;
  text-align: center;
  content: "firt";
}
.nb::after {
  content: "  Hi";
}
.ma::before {
  content: "  I know ";
}
